.p-message_file
{
  width: fit-content;
  max-width: 1000px;
}

.c-pillow_file__email--expanded
{
  width: fit-content;
}

.p-message_file--email
{
  max-width: 1000px;
}

.p-message_file
{
  max-width: 1000px;
}

@media screen and (min-width: 1600px)
{
  .p-workspace--context-pane-expanded
  {
    grid-template-columns: 220px auto 900px;
  }
}
